<?xml version="1.0"?>
<!--
/**
 * @author      Magetop Developer (Kien)
 * @package     Magento Multi Vendor Marketplace_Multiple_Table_Rate_Shipping
 * @copyright   Copyright (c) Magetop (https://www.magetop.com)
 * @terms       https://www.magetop.com/terms
 * @license     https://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Magetop_SellerDHLShipping::configuration</resource>          
            <group id="mpdhl" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Magetop Seller DHL Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sandbox_mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Sandbox Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="production_gateway_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Web-Services URL (Production)</label>
                    <depends>
                        <field id="sandbox_mode">0</field>
                    </depends>
                </field>
                <field id="sandbox_gateway_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Web-Services URL (Sandbox)</label>
                    <depends>
                        <field id="sandbox_mode">1</field>
                    </depends>
                </field>
                <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="id" translate="label" type="password" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Access ID</label>
                </field>
                <field id="password" translate="label" type="password" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Password</label>
                </field>
                <field id="account" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Account Number</label>
                </field>
                <field id="content_type" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Content Type</label>
                    <source_model>Magento\Dhl\Model\Source\Contenttype</source_model>
                </field>
                <field id="unit_of_measure" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Weight Unit</label>
                    <source_model>Magento\Dhl\Model\Source\Method\Unitofmeasure</source_model>
                    <frontend_model>Magento\Dhl\Block\Adminhtml\Unitofmeasure</frontend_model>
                </field>
                <field id="size" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Size</label>
                    <source_model>Magento\Dhl\Model\Source\Method\Size</source_model>
                </field>
                <field id="height" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height</label>
                    <depends>
                        <field id="size">1</field>
                    </depends>
                </field>
                <field id="depth" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Depth</label>
                    <depends>
                        <field id="size">1</field>
                    </depends>
                </field>
                <field id="width" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width</label>
                    <depends>
                        <field id="size">1</field>
                    </depends>
                </field>
                <field id="doc_methods" translate="label" type="multiselect" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allowed Methods</label>
                    <source_model>Magento\Dhl\Model\Source\Method\Doc</source_model>
                    <depends>
                        <field id="content_type">D</field>
                    </depends>
                </field>
                <field id="nondoc_methods" translate="label" type="multiselect" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allowed Methods</label>
                    <source_model>Magento\Dhl\Model\Source\Method\Nondoc</source_model>
                    <depends>
                        <field id="content_type">N</field>
                    </depends>
                </field>
                <field id="ready_time" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Ready time</label>
                    <comment>Package ready time after order submission (in hours)</comment>
                </field>
                <field id="dhl_logo_display" translate="label comment" sortOrder="170" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Custom Logo on DHL Label</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="dhl_logo" translate="label" type="image" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo Image</label>
                    <comment>Allowed file types: jpg, jpeg, png</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">dhl/logo</base_url>
                    <upload_dir >pub/media/dhl/logo</upload_dir>
                    <depends>
                        <field id="dhl_logo_display">1</field>
                    </depends>
                </field>
                <field id="allow_seller" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow Sellers to Save DHL Details</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_seller_logo" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allow Sellers to Display Company Logo on DHL Label</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>