<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magetop 
 * @category    Magetop 
 * @copyright   Copyright (c) 2017 Magetop (http://magetop.com/) 
 * @Author: Hanh Nguyen<hanhkaka.nguyen37@gamil.com>
 * @@Create Date: 2017-05-5
 * @@Modify Date: 2017-06-05
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                    <resource id="Magetop_Pslider::elements" title="Product Slider" sortOrder="10">
                        <resource id="Magetop_Pslider::pslider" title="Item Manager" sortOrder="10" />
                        <resource id="Magetop_Pslider::cats" title="Group Manager" sortOrder="20" />
                        <resource id="Magetop_Pslider::config" title="Settings" sortOrder="20" />
                    </resource>
            </resource>
        </resources>
    </acl>
</config>