<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <legacy_converge> 
                <active>1</active> 
                <title>Legacy Converge Payment</title> 
                <model>LegacyConvergeAdapter</model>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>0</can_capture>
                <can_authorize>0</can_authorize>
                <cctypes>AE,VI,MC,DI,JCB,DN</cctypes>
                <xml_api_endpoint_demo>https://api.demo.convergepay.com/VirtualMerchantDemo/processxml.do</xml_api_endpoint_demo>
                <xml_api_endpoint_production>https://api.convergepay.com/VirtualMerchant/processxml.do</xml_api_endpoint_production>
                <sandbox_mode>1</sandbox_mode>
            </legacy_converge>
        </payment>
    </default>
</config>
 