<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <event name="payment_method_assign_data">
        <observer name="legacy_converge_data_assign_observer" instance="Legacy\Converge\Observer\DataAssignObserver"/>
    </event>
    <!-- <event name="sales_order_place_after">
        <observer name="create_invoice_observer" instance="Legacy\Converge\Observer\CreateInvoiceObserver" />
    </event> -->
    <event name="checkout_submit_all_after">
        <observer name="create_invoice_observer" instance="Legacy\Converge\Observer\CreateInvoiceObserver" />
    </event>
</config>
