<!--
/**
 * @author      Magetop Developer (Kien)
 * @package     Magento Multi Vendor Marketplace
 * @copyright   Copyright (c) Magetop (https://www.magetop.com)
 * @terms       https://www.magetop.com/terms
 * @license     https://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_commit_after">
        <observer name="mk_save_partner" instance="Magetop\Marketplace\Observer\SavePartner"/>
    </event>
    <event name="catalog_product_delete_after">
        <observer name="mk_delete_product" instance="Magetop\Marketplace\Observer\DeleteProduct"/>
    </event>
    <event name="customer_delete_commit_after">
        <observer name="mk_delete_seller" instance="Magetop\Marketplace\Observer\DeleteSeller"/>
    </event>
</config>