<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Emizentech. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../app/code/Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="emizentech_shopbybrand::base" title="Shop By Brand" module="Emizentech_ShopByBrand" parent="bigmarket" sortOrder="21" resource="Emizentech_ShopByBrand::sample"/>
		<add id="emizentech_shopbybrand::shopbybrand" title="Manage Brands" module="Emizentech_ShopByBrand" sortOrder="10" parent="emizentech_shopbybrand::base" resource="Emizentech_ShopByBrand::sample" action="emizentech_shopbybrand/items/"/>
    </menu>
</config>
