<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <mpdhl>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <production_gateway_url><![CDATA[https://xmlpi-ea.dhl.com/XMLShippingServlet]]></production_gateway_url>
                <sandbox_gateway_url><![CDATA[https://xmlpitest-ea.dhl.com/XMLShippingServlet]]></sandbox_gateway_url>
                <method_title>Magetop Marketplace DHL Shipping</method_title>
                <model>Magetop\SellerDHLShipping\Model\Carrier</model>
                <title>Magetop DHL Shipping</title>
                <nondoc_methods>1,3,4,8,P,Q,E,F,H,J,M,V,Y</nondoc_methods>
                <doc_methods>2,5,6,7,9,B,C,D,U,K,L,G,W,I,N,O,R,S,T,X</doc_methods>
                <content_type>N</content_type>
                <unit_of_measure>K</unit_of_measure>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </mpdhl>
        </carriers>
    </default>
</config>